:root {
    --blue-color: #2196F3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #FFFFFF;
    --blue-background-color: #2196F3;
    --dark-background-color: #2f303a;
}

.studio {
    color: var(--blue-color);
}

.portfolio,
.contact {
    color: var(--black-color);
}

.mailto {
    color: var(--blue-color);
}

.tel {
    color: var(--gray-color);
}

.hh {
    color: var(--white-color);
    background-color: var(--dark-background-color);
}

.button {
    color: var(--white-color);
    background-color: var(--blue-background-color);
}

.footer {
    background-color: var(--dark-background-color);
}

.map {
    color: var(--white-color);
}

.mail {
    color: var(--gray-color);
}

.phone {
    color: var(--gray-color);
}

.studi {
    color: var(--black-color);
}

.port {
    color: var(--blue-color);
}

.all {
    background-color: var(--blue-background-color);
}